.pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagination p {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: var(--gray-dark);
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsWrapper button {
  margin-right: 0.25rem;
}

 .buttonsWrapper button:last-child {
  margin-right: 0;
}


